@CHARSET "ISO-8859-1";


h2 {
	font-family: serif;
	font-size: 25px;
	color: green;
}

input.form_field {
	
	width: 250px;
	height: 30px;
	font-size: 25px;
	
}

#footer {
	color: red;
}

td,a {
	font-size: 20px;
}




