<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="emp" class="com.Employee" scope="singleton">

<property name="empId" value="1024"/>
<property name="empName" value="Praveen"/>
<property name="salary" value="15000"/>

</bean>


</beans>
